@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600&family=DM+Serif+Display:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  background: #F9F5EE;
  font-family: 'DM Sans', sans-serif;
}

.display-font {
  font-family: 'DM Serif Display', serif;
}

.story-container {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.1s all;

  &:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.05);
  }
}

.bg-black {
  cursor: pointer;
}

.tag-red {
  background: #ec7878;
  color: black;
}

.tag-orange {
  background: #ecc178;
  color: black;
}

.tag-green {
  background: #7cec78;
  color: black;
}

.tag-yellow {
  background: #ecde78;
  color: black;
}

.tag-blue {
  background: #78b8ec;
  color: black;
}

.tag-purple {
  background: #a678ec;
  color: black;
}